/*************************************************
    GENERAL STYLES
 *************************************************/
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}

/* COLORS */
:root{
    --black:#000000;
    --darkblue:#141922;
    --darkgrey:#282828;
    --grey:#838383;
    --green:#adff2f;
    --white:#ffffff;
}

/*************************************************
    UTILITIES
 *************************************************/

 /* LAYOUT */

.wrapper{
    padding: 0.5rem 1rem 1rem;
    margin: 0 auto;
}
.marg-left{
    margin-left: 0.4rem;
}
.row-column{
    display: flex;
    flex-direction: column;
}
.padding{
    padding: 0.2rem 1rem;
}
.relative{
    position: relative;
}
.pointer{
    cursor: pointer;
}

 /* TEXT */

body{
    color: var(--grey);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.txt-center{
    text-align: center;
}

/* TEXT COLORS */

.txt-black{
    color: var(--black);
}
.txt-white{
    color: var(--white);
}

/* BG COLORS */

.bg-black{
    background-color: var(--black);
}
.bg-darkblue{
    background-color: var(--darkblue);
}
.bg-darkgrey{
    background-color: var(--darkgrey);
}
.bg-grey{
    background-color: var(--grey);
}
.bg-white{
    background-color: var(--white);
}

/*************************************************
    HOVER
 *************************************************/

/* Album hover */

.img-wrapper i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
    display: none;
}
.img-wrapper:hover i{
    display: block;
}
.img-wrapper:hover img{
    filter: brightness(0.5);
}

/* Upgrade spotify call to action hover */

#call-to-action div:hover, .scale-play:hover {
    transform: scale(1.2);
}

/* White hover */

.white-hover:hover{
    color: var(--white);
}
.white-hover-underline:hover{
    color: var(--white);
    text-decoration: underline;
}

/* Progress and volume bar hover */

.song-progress-bar:hover .bar, .volume-bar:hover .bar{
    background-color: var(--green);
}
.song-progress-bar:hover .white-point-bar, .volume-bar:hover .white-point-bar{
    display: inline-block;
}


/*************************************************
                        SITE SECTIONS
 *************************************************/

/* UPPER SECTION */

#upper{
    height: calc(100vh - 5rem);
    display: flex;
}

/*************************************************
    LEFTBAR
 *************************************************/

#leftbar{
    z-index: 1;
    font-size: 0.7rem;
    padding: 1rem 0 0.3rem;
    min-width: 12rem;

}
/* Top left bar */

#logo{
    height: 4rem;
}
#logo img{
    max-width: 100%;
}

/* Main menu */

.main-menu{
    margin-bottom: 1rem;
}
.main-menu div{
    margin-bottom: 0.5rem ;
}
.main-menu img, .bottom-left-bar div:last-child{
    max-width: 100%;
    height: 1.2rem;
}
.border-left-green{
    border-left: 3px solid var(--green);
}

/* Playlist */

.new-playlist{
    margin-top: 0.5rem;
}
.new-playlist i{
    font-size: 2rem;
}
.playlist{
    min-height: 5rem;
    overflow-y: scroll;
}
.playlist li{
    margin-top: 1rem;
}

/* Bottom left bar */

#bottom-leftbar{
    margin-top: auto;
}
#bottom-leftbar img, #bottom-leftbar-small img {
    height: 0.9rem;
}
#bottom-leftbar div:first-child{
    padding-bottom: 0.5rem;
    border-bottom: 1px var(--grey) solid;
    margin-bottom: 1rem;
}

#profile{
    background-color: var(--grey);
    border-radius: 50%;
    background-image: url(../img/profile.svg);
    background-size: cover;
    height: 1.2rem;
    width: 1.2rem;
}


        /* Leftbar hidden, appear at xs size  */
#leftbar-small{
    display: none;
    width: 100%;
    padding: 0.3rem;
}
#leftbar-small div:last-of-type{
    margin-top: auto;
}
#leftbar-small img{
    max-width: 100%;
    margin-bottom: 0.5rem;
}
#leftbar-small #bottom-leftbar-small img{
    margin-left: -0.1rem;
}

/*************************************************
    CONTENTS
 *************************************************/

#contents{
    overflow-y: scroll;
    position: relative;
}
#contents p{
    font-size: 0.6rem;
    margin: 1rem 0;
}
#contents h3{
    margin: 1.5rem 0;
}
#contents h5{
    margin: 1rem 0;
}

/* Labels */

.labels{
    margin-top: 5rem;
    gap: 2rem;
    font-size: 0.6rem;
}
.evidence-green{
    border: 1px var(--green) solid;
    width: 50%;
    margin-top: 0.2rem;
}

/* Recently played */

.recently, .personal-playlist, .popular-artist{
    gap: 0.7rem;
}
.card{
    width: calc((100%/6) - 0.7rem);
}
.card img{
    max-width: 100%;
}

.card span{
    font-size: 0.6rem;
}

/* Popular artist */

.popular-artist .card img{
    border-radius: 50%;
    width: 10rem;
    object-fit: cover;
}

/* Upgrade bar */

#call-to-action{
    height: 4rem;
    width: 100%;
    opacity: 0.5;
    position: fixed;
    left: 0;
    top: 0;
    justify-content: flex-end;
    padding: 1rem 2rem;
    font-size: 0.7rem;
}
#call-to-action div{
    padding: 0.5rem 2.5rem;
    border: 2px var(--white) solid;
    border-radius: 5rem;
    height: fit-content;
}

/*************************************************
    FOOTER
 *************************************************/

footer{
    height: 5rem;
    position: fixed;
    width: 100%;
    padding: 0 0.5rem;
    font-size: 0.6rem;
    z-index: 2;
 }

/* Left footbar */

#left-footbar{
    flex-basis: 11rem;
}

#left-footbar img{
    height: 2rem;
}
#favorites{
    gap: 1rem;
    font-size: 0.8rem;
}

/* Middle footbar */

/* Top */
#middle-footbar{
    flex:1;
}
 #middle-footbar .top-player,  #middle-footbar .bottom-player{
    gap: 1rem;
 }
 #middle-footbar .top-player{
    margin-bottom: 0.5rem;
    font-size: 1rem;
 }
 .fa-circle-play{
    font-size: 1.7rem;
 }

 /* Bottom */
.actual-time, .total-time{
    width: 5%;
}
.bar{
    height: 0.2rem;
    border-radius: 20px;
    display: inline-block;
}
.song-progress-bar{
    width: 70%;
}
.song-progress-bar .bar{
    width: 25%;
}
.white-point-bar{
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    background-color: var(--white);
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%,-35%);
    display: none;
}

 /* Right footbar */

#right-footbar{
    min-width: 7rem;
    flex-basis: 15%;
    gap: 1rem;
}
#right-footbar i{
    width: 5%;
}

 .volume-bar{
    width: 40%;
 }
 .volume-bar .bar{
    width: 20%;
}


/*************************************************
    RESPONSIVE MD SIZE
 *************************************************/

 @media screen and (max-width:878px){
    .card{
        width: calc((100%/4) - 0.7rem);
    }
 }

/*************************************************
    RESPONSIVE SM SIZE
 *************************************************/

 @media screen and (max-width:640px){
    .card{
        width: calc((100%/2) - 0.7rem);
    }
    .song-info img{
        display: none;
     }
     #left-footbar{
        flex-basis: 25%;
        min-width: 7rem;
    }
    #right-footbar{
        min-width: none;
        flex-basis: 15%;

     }
 }

/*************************************************
    RESPONSIVE XS SIZE
 *************************************************/

 @media screen and (max-width:550px){
    .card{
        width: calc((100%/2) - 0.7rem);
    }
    #leftbar{
        min-width: 2rem;
        padding: 0;    
    }
    #leftbar-big{
        display: none;
    }
    #leftbar-small{
        display: flex;
    }
    #favorites{
        flex-direction: column;
        gap:0.5rem
    }
    #left-footbar{
        justify-content: flex-start;
        gap:0.5rem;
    }
 }

/*************************************************
    RESPONSIVE call to action height
 *************************************************/
@media screen and (max-height:575px){
    #call-to-action{
        display: none ;
    }
    .labels{
        margin-top: 1rem;
    }
}



 /* DEBUG RULES */
